
<div class="bs-header">
	<div class="text-center">
		<h1>Text <span class="vendor-code">{{data.shortcode}}</span> to <span class="ph-num">(510)&nbsp;924&#8209;0044</span></h1>
	</div>
</div>

<div class="container">
	<div class="row text-center">
		<div class="now-serving">
			<h1>Now Serving</h1>
		</div>
	</div>
	<div class="row text-center">
		<div class="serv-num">
			{{data.servingNumber}}
		</div>
	</div>
	<div class="row vspacer"></div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<button class="btn btn-default btn-lg">Next Number &raquo;</button>
		</div>
	</div>
</div>


