/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

.header .logo {
	background: url('/i/icon.png');
	width: 64px;
	height: 64px;
	background-size: contain;
	vertical-align: middle;
	display: inline-block;
	margin-right: 8px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron2 {
	border-bottom: 1px solid #e5e5e5;
	background-color: #eee;
	border-radius: 6px;
	padding:60px;
}

.jumbotron2 h1 {
	font-size: 4em;
}
.vspacer {height:20px;}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron2 {
		border-bottom: 0;
	}
}

.bs-header {
	background-color: #000;
	padding: 30px 15px 40px;
	text-align: left;
	border-bottom:4px solid #aaa;

	h1	{
		font-size: 48px;
		color:#ccc;

		@media (max-width: 900px) {
			font-size:36px
		}
		@media (max-width: 714px) {
			font-size:28px
		}

		span {
			font-weight: bold;
			color: #eee;
			font-size: 1.5em;
			top: 0.1em;
			position: relative;
		}

	}
}

@media (max-width: 320px) {
	.bs-header {
		padding: 20px 8px 30px;
		h1 {font-size:18px}
	}
}


.now-serving h1 {
	text-transform: uppercase;
	font-weight: bold;
	color:#666;
}

.vspacer {height:20px;}

.serv-num{
	text-align: center;
	background-color: #c61d2c;
	border-radius: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
	font-size: 200px;
	padding: 0.1em 0.3em;
	display: inline-block;
	line-height: 1em;
}

@media (max-width: 600px) {
	.serv-num{
		font-size: 160px;
	}
}
@media (max-width: 460px) {
	.serv-num{
		font-size: 120px;
	}
}
@media (max-width: 360px) {
	.serv-num{
		font-size: 96px;
	}
	.now-serving h1 {
		font-size: 24px;
	}
}
